@font-face {
  font-family: "iconfont"; /* Project id 3975399 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1679663290270') format('woff2'),
       url('iconfont.woff?t=1679663290270') format('woff'),
       url('iconfont.ttf?t=1679663290270') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more1:before {
  content: "\e636";
}

.icon-xfn-friend:before {
  content: "\ee29";
}

.icon-wenzhanglan:before {
  content: "\e616";
}

.icon-Friend-:before {
  content: "\e6a6";
}

.icon-HOME:before {
  content: "\e7e9";
}

.icon-jwd-icon-home:before {
  content: "\e606";
}

.icon-wenzhangliebiao:before {
  content: "\e653";
}

.icon-friend:before {
  content: "\e621";
}

.icon-home1:before {
  content: "\e6bc";
}

.icon-qq:before {
  content: "\e608";
}

.icon-Email_:before {
  content: "\e930";
}

.icon-tag:before {
  content: "\e630";
}

.icon-wechat:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e722";
}

.icon-chat:before {
  content: "\e605";
}

.icon-more:before {
  content: "\e61a";
}

.icon-lianjie:before {
  content: "\e651";
}

.icon-guanyuwomen:before {
  content: "\e628";
}

.icon-books:before {
  content: "\e73b";
}

.icon-liuyanban:before {
  content: "\e61b";
}

.icon-rili:before {
  content: "\e65e";
}

.icon-lianjie1:before {
  content: "\e69b";
}

.icon-home:before {
  content: "\e61c";
}

.icon-liuyanban-yimidida:before {
  content: "\e66b";
}

.icon-social:before {
  content: "\e610";
}

.icon-document:before {
  content: "\e604";
}

.icon-book:before {
  content: "\e6e8";
}

.icon-xiangce:before {
  content: "\ffdd";
}

.icon-categories:before {
  content: "\e6a0";
}

